[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]

[dev-packages]
jupyter = "*"
pytest = "*"
pytest-xdist = "*"
neovim = "*"
ipython = "*"

[requires]
python_version = "3.6"
