[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
numpy = "*"
matplotlib = "*"

[dev-packages]
jupyter = "*"
pytest = "*"
pytest-xdist = "*"
neovim = "*"
ipython = "*"
pytest-mypy = "*"

[requires]
python_version = "3.7"
